src/systemd-watchdog-wrapper

Makefile
Makefile.in

configure
config.log
config.status

.deps/
*.o
aclocal.m4
stamp-*

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
